<ul>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description"><b>李衡</b>, 刘浩锋, 刘江, 胡衍。"白内障患者眼底彩照图像去噪方法、装置、设备及存储介质", 发明, 授权, 202110771823.4</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description"><b>李衡</b>, 刘浩锋, 刘江, 胡衍。"眼底全局立体图像生成方法、装置、电子设备及存储介质", 发明, 实审, 202110810901.7</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description"><b>李衡</b>, 刘浩锋, 刘江, 胡衍。"结合解剖先验的医学影像分割方法、装置及存储介质", 发明, 实审, 202110842739.7</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description"><b>李衡</b>, 刘浩锋, 刘江, 胡衍。"采样方法、采样系统及存储介质", 发明, 实审, 202111003767.6</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">刘江, 东田理沙, 张颖麟, 章晓庆, 刘鹏, 杨冰, 胡衍, <b>李衡</b>。"基于眼前节图像的眼病识别方法、装置、设备及存储介质", 发明, 实审, 202111024233.1</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">刘江, <b>李衡</b>, 刘浩锋, 胡衍。"基于高频特征的医学图像分割方法和装置", 发明, 实审, 2022105727623.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">刘江, <b>李衡</b>, 区明阳, 刘浩锋, 胡衍。"基于特征空间多视角分析的影像分割方法和装置", 发明, 实审, 2022106344657.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">刘江, 刘浩锋, <b>李衡</b>, 胡衍。"基于特征一致性的眼底图像增强方法、系统、设备及介质", 发明, 实审, 2022112938120.0</p>
</div>
</li>
