<ul>
<li>
<div class="list_item">
<h3>Research on the Construction of Prediction Model and Prevention Platform of Eye Blinding Diseases based on Multi Modalities Big Data</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding:Natural Science Foundation of Guangdong Province</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2020 -</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research of Retinal Vessel Injection Guide Method based on 3D fundus model</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Shenzhen Science and Technology Innovation Commission</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: Jan. 2022 -</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Development of Deep Learning based Scleral Spur Locating System</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: iMed</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration:Jun. 2020 - Sep. 2020</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Participant</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on the Correlation of Curriculum and Major based on Career Orientation</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: University of South China</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2018 - 2020</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Leader</p></div>
</div>
</li>
</ul>