<ul>
<li>
<div class="list_item">
<h3>Angle closure detection of glaucoma based on AS-OCT 3D image and dynamic video</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: National Natural Science Foundation of China</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2023-2026</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on intelligent decision-making assistance system for cataract patients based on knowledge graph</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: National Natural Science Foundation of China</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2022-2025</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on the Construction of Prediction Model and Prevention Platform of Eye Blinding Diseases based on Multi Modalities Big Data</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Natural Science Foundation of Guangdong Province</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2020-2024</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on multimodal image transfer learning algorithm for ophthalmic disease diagnosis</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Basic and Applied Fundamental Research Foundation of Guangdong Province</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2020-2023</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Leader</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on key technology of robot for hip and knee replacement surgery</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Postdoctoral Science Fund</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2018-2020</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Leader</p></div>
</div>
</li>
</ul>
