<ul>
<li>
<div class="list_item">
<h3>Research on the Construction of Prediction Model and Prevention Platform of Eye Blinding Diseases based on Multi Modalities Big Data</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Natural Science Foundation of Guangdong Province</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2020 -</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research of Retinal Vessel Injection Guide Method based on 3D fundus model</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Shenzhen Science and Technology Innovation Commission</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: Jan. 2022 -</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role:Key member</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on multimodal image transfer learning algorithm for ophthalmic disease diagnosis</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Basic and Applied Fundamental Research Foundation of Guangdong Province</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2020-2023</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Leader</p></div>
</div>
</li>
<li>
<div class="list_item">
<h3>Research on key technology of robot for hip and knee replacement surgery</h3>
<div><p class="archive__item-excerpt" itemprop="description">Funding: Postdoctoral Science Fund</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Duration: 2018-2020</p></div>
<div><p class="archive__item-excerpt" itemprop="description">Role: Project Leader</p></div>
</div>
</li>
</ul>